<div class="center">
    <h3>{{survey.name}}</h3>
    <div class="btn-group" *ngIf="!isVoted">
        <div *ngFor="let option of labels; let labelIndex=index">
            <button type="button" class="btn btn-success" style="margin-right:20px;"
                (click)="voteFor(labelIndex)">{{option.toUpperCase()}}</button>
        </div>
    </div>

    <div *ngIf="isVoted">
        <h2>Your vote is for: {{votedFor?.toUpperCase()}}. Thank you!</h2>
    </div>
    <div>
        <app-piechart #pieChart [inputVotes]="votes" [inputLabels]="labels"></app-piechart>
    </div>
<div>
    <button  class="btn btn-warning  btn-lg" style="margin-right: 50px;" [routerLink]="['../']">Back</button>
</div>
    <div>
        <h3>Administrative tools:</h3>
       
        <button type="button" style="margin-right:30px;" class="btn btn-outline-danger" (click)="deleteSurvey()">Delete Survey</button>

        <button type="button" class="btn btn-outline-danger" [routerLink]="['edit']">Edit Survey</button>
  
    </div>
</div>