<h1 style="text-align: center;">Add Survey</h1>
<hr>

<form [formGroup]="surveyForm" style="text-align: center" class="col-md-6 offset-md-3">

    <h2>
      Survey Name
    </h2>
    <div class="form-group row">
      <input class="form-control" id="name" formControlName="name" required />
    </div>

    <br>

      <h2> Options</h2>

    <div formArrayName="options">
      <div *ngFor="let item of options.controls; let optionIndex = index" [formGroupName]="optionIndex">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">{{optionIndex +1}}</div>
          </div>
          <input class="form-control" id={{optionIndex}} formControlName="option" required />
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="button" (click)="addOption()">+</button>

 
      <h2>Categories</h2>


    <div *ngFor="let cat of categories; let catIndex = index">
      <input class="form-check-input" formControlName="category" type="radio" id={{cat}} value={{cat}}>
      <label class="form-check-label" for={{cat}}>{{cat}}</label>
    </div>

    <button type="button" class="btn btn-primary btn-lg" [disabled]="surveyForm.invalid">Save</button>
  
</form>

{{ this.surveyForm.invalid | json}}
{{ this.surveyForm.value | json }}