<h1 style="text-align: center;">Add Survey</h1>
<hr>

<form [formGroup]="categoryForm" style="text-align: center" class="col-md-6 offset-md-3" (submit)="save()">

  <h2>
    Survey Name
  </h2>
  <div class="form-group row">
  <input class="form-control" id="name" formControlName="name" required />
  </div>
  <div class="alert alert-danger" role="alert" 
  *ngIf="name.touched && 
         name.errors?.required">
    The name is requred!
  </div>
  
  <div class="alert alert-danger" role="alert" 
  *ngIf="name.errors?.minlength &&
         name.touched">
    Name must be at least 6 characters long.
  </div>
  <br>

  <button type="submit" class="btn btn-primary btn-lg"  [disabled]="categoryForm.invalid">Save</button>
</form>