 .listing-surveys{
    margin-left: 70px; 
    margin-top: 10px;
 }


.info-box {
  position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 1rem;
    background: linear-gradient(90deg, rgba(164,164,164,1) 0%, rgba(9,9,9,1) 50%, rgba(164,164,164,1) 100%);
    width: 100%;
    border-radius: 2rem;
    
}

.info-box p {
    font-size:2rem;
}

.paralax {
  background-image: url("../../../assets/background.jpg");
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.paralax2 {
    background-image: url("../../../assets/background2.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .paralax3 {
    background-image: url("../../../assets/background3.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }