.listing-surveys{
    margin-left: 70px; 
    margin-top: 10px;
 }

 .info {
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
     margin-left: 10rem;
     margin-right: 10rem;
 }

 .bg {
     background-color: white;
     color: orange;
 }

 .content-images {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    height: 40vh;
    text-align: center;
}

.separator{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(242,139,79,1) 50%, rgba(255,255,255,1) 100%);
    margin: 10px;
}